<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
    <!--   <class name="rest_assured.rest_assured.GoogleGetTest"/>
      <class name="rest_assured.rest_assured.GooglePost_XmlTest"/>
      <class name="rest_assured.rest_assured.LibraryPostWithParametrisedBodyTest"/>
      <class name="rest_assured.rest_assured.GoogleDeleteTest"/>
      <class name="restAssured.Demo.Google_PostCall"/>
      <class name="rest_assured.rest_assured.GooglePost_JsonTest"/>
      <class name="restAssured.Demo.Google_GetCall"/>
      <class name="restAssured.Demo.Google_DeleteCall"/>
      <class name="rest_assured.rest_assured.GooglePostTest"/>
      <class name="rest_assured.rest_assured.GoogleJsonParsingTest"/> -->
      <class name="rest_assured.rest_assured.Twitter_APIs_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
